.product_img
{
    height: 265px;
    border-radius: 10px;
    padding-top:50px;
}
.font_prop
{
    font-size: large;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.font_prop1
{
    font-size: small;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.font_prop2
{
    font-size: small;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.font_prop3
{
    font-size: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.border_bottom
{
    border-bottom: 1px solid black;
}